{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% load static %}
{% block content %}


   
            <!-- Профиль с данными пользователя -->
            <div class="container bg-white pt-4 rounded custom-shadow">
                <div class="row " >
                  <div class="col ">
           
                    <h3 class="text-center mb-4">Профиль пользователя</h3>
                    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                {% if user.image %}
                                    <img src="{{ user.image.url }}"
                                        alt="Аватар пользователя" class="img-fluid rounded"
                                        style="max-width: 250px;">
                                {% else %}
                                    <img src="{% static "deps/images/baseavatar.jpg" %}"
                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                        style="max-width: 150px;">
                                {% endif %}
                                <input type="file" class="form-control mt-3" id="id_image"
                                    name='image'
                                    accept="image/*">
                                    {% if form.image.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_first_name" class="form-label">Имя*</label>
                                <input type="text" class="form-control" id="id_first_name"
                                    name="first_name"
                                    placeholder="Введите ваше имя"
                                    value="{{ form.first_name.value }}"
                                    required>
                                    {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_last_name" class="form-label">Фамилия*</label>
                                <input type="text" class="form-control" id="id_last_name"
                                    name="last_name"
                                    placeholder="Введите вашу фамилию"
                                    value="{{ form.last_name.value }}"
                                    required>
                                    {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_therd_name" class="form-label">Отчество</label>
                                <input type="text" class="form-control" id="id_therd_name"
                                    name="therd_name"
                                    placeholder="Введите ваше отчество"
                                    value="{{ form.therd_name.value }}"
                                    required>
                                    {% if form.therd_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.therd_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_username" class="form-label">Имя пользователя*</label>
                                <input type="text" class="form-control" id="id_username"
                                    name="username"
                                    placeholder="Введите ваше имя пользователя"
                                    value="{{ form.username.value }}"
                                    required>
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="id_email"
                                    name="email"
                                    placeholder="Введите ваш email *youremail@example.com"
                                    value="{{ form.email.value }}"
                                    required>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_tel" class="form-label">Телефон</label>
                                <input type="text" class="form-control" id="id_tel"
                                    name="tel"
                                    placeholder="Введите ваш телефон *8-900-111-1111"
                                    value="{{ form.tel.value }}"
                                    >
                                    {% if form.tel.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.tel.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_bench" class="form-label">Присед</label>
                                <input type="text" class="form-control" id="id_bench"
                                    name="bench"
                                    placeholder="Введите ваш максимальный, соревновательный присед"
                                    value="{{ form.bench.value }}"
                                    >
                                    {% if form.bench.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.bench.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_press" class="form-label">Жим</label>
                                <input type="text" class="form-control" id="id_press"
                                    name="press"
                                    placeholder="Введите ваш лучший, соревновательный жим"
                                    value="{{ form.press.value }}"
                                    >
                                    {% if form.press.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.press.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_d_lift" class="form-label">Тяга</label>
                                <input type="text" class="form-control" id="id_d_lift"
                                    name="d_lift"
                                    placeholder="Введите вашу лучшую,соревновательную тягу"
                                    value="{{ form.d_lift.value }}"
                                    >
                                    {% if form.d_lift.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.d_lift.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_sum" class="form-label">Сумма</label>
                                <input type="text" class="form-control" id="id_sum"
                                    name="sum"
                                    placeholder="Введите вашу лучшую, соревновательную сумму"
                                    value="{{ form.sum.value }}"
                                    >
                                    {% if form.sum.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.sum.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_kat" class="form-label">Категория</label>
                                    {{form.kat}}
                                    {% if form.kat.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.kat.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_raz" class="form-label">Разряд</label>
                                    {{form.raz}}
                                    {% if form.raz.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.raz.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_date" class="form-label">Дата рождения</label>
                                    {{form.date}}
                                    {% if form.date.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.date.errors}}</div>
                                    {% endif %}
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="id_from_self" class="form-label">О себе</label>
                                    {{form.from_self}}
                                    {% if form.from_self.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.from_self.errors}}</div>
                                    {% endif %}
                            </div>

                        </div>
                        <input type="hidden" class="form-control" id="id_status"
                        name="status"
                
                        value="{{ form.status.value }}"
                        >

                        <button type="submit" class="btn btn-dark">Сохранить</button>
                    </form>
                </div>
            </div>
           
                </div>
            </div>
        </div>
   

{% endblock content %}