{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
       
    <div class="sportsfpr62">
        <h3>Письмо {% if for_mes %} {{for_mes}} {% endif %} </h3>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <form method="post" action="{% url "users:sendMesToEmail" %}" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="fields">
                {{form.as_p}}
            </div>
            <br />

            <ul class="actions">

                <li><input type="submit" value="Отправить" class="primary" /></li>
                <li><input type="reset" value="Очистить" /></li>
                
            </ul>
       
        </form>

        </div>

    </div>

</div> 


{% endblock content %}