

<!DOCTYPE html>
{% load static %}
<html>
<head>
   
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Default title{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "/css/bootstrap.css"  %}" />
		<link rel="stylesheet" href="{% static "/css/main.css" %}" />
		<link rel="stylesheet" href="{% static "/css/Mymain.css" %}" />
	    <link rel="stylesheet" href="{% static "/css/button.css" %}" />
		<link rel="stylesheet" href="{% static "/css/modal.css" %}" />
		<link rel="stylesheet" href="{% static "/font-awesome/css/font-awesome.min.css" %}" />
		<link rel="stylesheet" href="{% static "/swipebox-master/src/css/swipebox.css" %}"/>
		<noscript><link rel="stylesheet" href="{% static "/css/noscript.css" %}" /></noscript>
		<link rel="icon" type="image/x-icon" href="{% static "/favicon.ico" %}">
	    <meta name="description" content="Федерация пауэрлифтинга Рязани и Рязанской области, ФПР"/>

	
</head>

	
	  




		{% if messages  %}
		{% for message in messages %}
		{% if message.tags == 'success' %}
		
		
		<body class="homepage is-preload">

			<div class="modalBackground" id="modalBackground">
				<div class="modalActive">
	
					<div class="modalClose">
						<img src="{% static "/img/modalCross.png" %}" />
					</div>
	
					<div class="modalWindow">
			{{message}}
					</div>
	
				</div>
			</div>
		
		
		
		{% endif %}
		{% endfor %}
		{% endif %}










		<div id="page-wrapper">
			
			
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo" >-|||-РФП-|||-</a></h1>
								<hr />
								<p id="feder">-ФЕДЕРАЦИЯ ПАУЭРЛИФТИНГА г.РЯЗАНИ и РЯЗАНСКОЙ ОБЛАСТИ-</p>
							</header>
							<footer>
					<a href="#view" class="button circled scrolly">ЖМИ!</a>
							</footer>
						</div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">ИНФО</a></li>
								<li>
									<a href="#">Спортсмены</a>
									<ul>
										<li><a href="/sportsmens/feder_member">Члены Федерации</a></li>
										<li><a href="/sportsmens/record">Рекорды Рязанской области ФПР</a></li>
										
										
										{% if not user.is_authenticated %}
										<li><a href="{% url "users:login"%}">Войти</a></li>
										{% else %}
										
										{% if user.is_admin or user.is_staff %}
                                        <li><a href="{% url "admin:index" %}">Админ панель</a></li>
                                        {% endif %}
										<li><a href="{% url "users:profile"%}">Личный кабинет</a></li>
										<li><a href="{% url "users:logout"%}">Выйти</a></li>
										{% endif %}
									</ul>
								</li>
								<li>
									<a href="#">Соревнования</a>
									<ul>
										<li><a href="/sorev/calendar">Календарь соревнований</a></li>
										<li><a href="{% url "protocol"%}">Протоколы</a></li>
										<li><a href="{% url "albom_foto"%}">Фото</a></li>
										<li><a href="{% url "zayavka"%}">Отправить заявку на соревнования</a></li>
									</ul>
								</li>
								
								<li><a href="#">Документы</a>
									<ul>
										<li><a href="{% url "doc"%}">Документы</a></li>
										<li><a href="{% url "polog"%}">Положения</a></li>
										<li><a href="{% url "norm"%}">Нормативы</a></li>
									</ul>
								</li>
					<li><a href="{% url "anti"%}">Антидопинг</a></li>
								<li><a href="/contacts">Контакты</a></li>
								{% if title in "Main" %}
								<li>
									<form class="d-flex" role="search" action="{% url "search" %}" method="get">
									<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
									<button class="bn btn-otline-success text-whie type="submit">Поиск</button>
									</form>
								</li>
								{% endif %}
							
							</ul>
						</nav>

				</div>

	
           		    <div id="view">

							{% include "notification.html" %}
							
								{% block content%}
								{% endblock content %}
							

					</div>
			
			



			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

							
								<section {% if random_foto %} class="col-4 col-12-mobile" {% else %} class="col-6 col-12-mobile" {% endif %} >
									<header>
										<p><i class="fa fa-list-alt"></i></p>
									</header>
									<ul class="divided">
													<li>
											<article class="post stub">
												<header>
													<h3><a href="/">Информация</a></h3>
												</header>
												
											</article>
										</li>
							<li>
								<article class="post stub">
									<header>
										<h3><a href="{% url "record"%}">Рекорды Рязанской области</a></h3>
									</header>

								</article>
							</li>
							<li>
								<article class="post stub">
									<header>
										<h3><a href="{% url "norm"%}">Нормативы Федерации</a></h3>
									</header>

								</article>
							</li>
											<li>
											<article class="post stub">
												<header>
													<h3><a href="{% url "feder_member"%}">Члены Федерации</a></h3>
												</header>
												
											</article>
										</li>
											<li>
											<article class="post stub">
												<header>
													<h3><a href="{% url "protocol"%}">Протоколы</a></h3>
												</header>
												
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="{% url "albom_foto"%}">Фотографии</a></h3>
												</header>
												
											</article>
										</li>
						
									</ul>
								</section>

							<!-- Posts -->
								<section {% if random_foto %} class="col-4 col-12-mobile" {% else %} class="col-6 col-12-mobile" {% endif %}>
									<header>
										<p><i class="fa fa-list-alt"></i></p>
										
									</header>
									<ul class="divided">
									
									
										<li>
											<article class="post stub">
												<header>
													<h3><a href="{% url "polog"%}">Положения</a></h3>
												</header>
												
											</article>
										</li>
									
										<li>
											<article class="post stub">
												<header>
													<h3><a href="{% url "doc"%}">Документы Федерации</a></h3>
												</header>
												
											</article>
										</li>
											<li>
											<article class="post stub">
												<header>
													<h3><a href="{% url "calendar"%}">Календарь соревнований</a></h3>
												</header>
												
											</article>
										</li>
							<li>
								<article class="post stub">
									<header>
										<h3><a href="{% url "contacts"%}">Контакты</a></h3>
									</header>

								</article>
							</li>
											<li>
											<article class="post stub">
												<header>
										<h3><a href="{% url "zayavka"%}">Отправить заявку</a></h3>
												</header>
												
											</article>
										</li>
							<li>
								<article class="post stub">
									<header>
										<h3><a href="{% url "anti"%}">Антидопинг</a></h3>
									</header>

								</article>
							</li>
										
									</ul>
								</section>

	



{% if  random_foto%}
<section class="col-4 col-12-mobile">
	<header>

		<p><i class=" fa fa-camera"></i></p>
	</header>
	<div class="row gtr-25">
		
		{% for i  in  random_foto %}
		<div class="col-6">
			<a href="{{MEDIA_URL}}/load/img/randomImg/{{i}}" class="image fit swipebox"><img class="randomImg" src="{{MEDIA_URL}}/load/img/randomImg/{{i}}" alt="" loading="lazy"/></a>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
								

						</div>
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Наша Федерация представлена в социальных сетях.</h3>
										</header>
										
										<ul class="icons">
											<li><a href="https://vk.com/fpr62" class="fa fa-vk" ><span class="label"></span></a></li>
										
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Все права защищены.</li><li>Рязань: <a href="/Info/#view">РФП</a></li>
										</ul>
						
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>



	



  			<script src="{% static "/js/jquery.min.js" %}"></script>
			<script src="{% static "/js/htmx.min.js" %}"></script>
			<script src="{% static "/js/jquery.dropotron.min.js" %}"></script>
			<script src="{% static "/js/jquery.scrolly.min.js" %}"></script>
			<script src="{% static "/js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "/js/browser.min.js" %}"></script>
			<script src="{% static "/js/breakpoints.min.js" %}"></script>
			<script src="{% static "/js/util.js" %}"></script>
			<script src="{% static "/js/main.js" %}"></script>
			<script src="{% static "/js/intense.js" %}"></script>
			<script src="{% static "/js/bootstrap.js" %}"></script>
			<script src="{% static "/js/modal.js" %}"></script>
			<script src="{% static "/swipebox-master/lib/jquery-3.5.1.min.js" %}"></script>
            <script src="{% static "/swipebox-master/src/js/jquery.swipebox.js "%}"></script>
			
			
			<script type="text/javascript">
				(function ($) {
				   $('.swipebox').swipebox();
		   
			   })(jQuery);
		   </script>



			<script type="text/javascript">
				var rect = document.querySelectorAll(".randomImg");
				
			   rect.forEach(item=>item.addEventListener("click", function () { 
					var SrcItem =event.target.getAttribute('src');
				  // alert(SrcItem);
				   //document.write('<img src='+SrcItem+' width="200" height="200">')
				   //var SrcItem =event.target;
				   //Intense(SrcItem);
			   
			   }));
			   //swipebox(rect);
			   
			   </script>

		</body>
		</html>
	
			  
	
			
			


			<script type="text/javascript">
				//скрипт скрытия ленты
				Trigger();

			</script>

			<script type="text/javascript">
				$(document).ready(function () {
				
			
					$('.content_toggle').click(function (event) {
						event.preventDefault();   // блокировать переход по ссылке
			
						const $link = $(event.target); // a - конкретная ссылка которая была нажата
						const $content = $link.prev('div.content_block');  // div -контент блок перед ссылкой
			
						$content.toggleClass('hide'); // показать или скрыть контент блок
			
						const htmlLink = $content.hasClass('hide') ? 'Подробнее' : 'Скрыть';
						$link.html(htmlLink);
					});
				});
			</script>
			


			<script type="text/javascript">
				//скрипт для по-дс-че-та про-см-от-ров
				var timer;
				var showCounter = 0;
				var block_show = true;
				var start = null;
				var counter = null;
				var counter1 = null;
				var count = null;
				var nameCount = null;
				var par1;
				function scrollTracking() {
			  
				  var wt = $(window).scrollTop();
				  var wh = $(window).height();
				  var d = $(".view_count").toArray().map(el => el.id);
			  
				  
			  
				  for (let i = 0; i < d.length; i++) {
					nameCount = null;
					count = null;
			  
					var et = $("#" + d[i]).offset().top;
					var eh = $("#" + d[i]).outerHeight();
			  
					if (et >= wt && et + eh <= wh + wt) {
					  
					  par1 = d[i];
					  
			  
					  if (block_show == true) {
						setTimeout(function () { countTimer(par1) }, 1000);
			  
						block_show = false;
						counter1 = i;
					  }
			  
			  
					}
					else if (counter1 == i) {
					  
			  
					  block_show = true;
					}
			  
			  
			  
			  
				  }
			  
			  
			  
				}
			  
			  
			  
			  
				function countTimer(par1) {
				  
				  
				  var data = {
			  
					nameCount: par1
				  };
			  
				  $.ajax({
					type: 'GET',
					url: 'count_view',
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					data: data,
					success: function (result) {
					  
					},
					error: function () {
			  
					}
				  })
			  
				}
			  
			  
				window.onscroll = () => {
			  
				  clearTimeout(timer);
				  /* wait until 400 ms for callback */
				  timer = setTimeout(scrollTracking, 400);
				}
			  
			  </script>
			  
			
			


			
			<script type="text/javascript">
				//скрипт для подсчета лайков
				function LikeFunc(id) {
			
			
					var data = {
			
						LikeCount: id
					};
			
			
					if (!document.cookie.split(';').filter(function (item) {
						return item.trim().indexOf('' + id + '=') == 0
					}).length) {
						document.cookie = "" + id + "=false;expires=31 Aug 2075 00:00:00 GMT;";
					
					}
			
			
			
					if (document.cookie.split(';').filter(function (item) {
						return item.indexOf('' + id + '=false') >= 0
					}).length) {
						document.cookie = "" + id + "=true;expires=31 Aug 2075 00:00:00 GMT;";
			
			
						$.ajax({
							type: 'GET',
							url: 'like',
							contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
							data: data,
							success: function (result) {
								console.log('отправлено плюс');
								document.getElementById('like_' + id).value++;
							},
							error: function () {
			
								console.log('Failed плюс');
							}
						})
			
					}
			
			
			
			
			
					else {
						document.cookie = "" + id + "=false;expires=31 Aug 2075 00:00:00 GMT;";
				//сохраняем куку с минусом
			
			
						$.ajax({
							type: 'GET',
							url: 'like_',
							contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
							data: data,
							success: function (result) {
								if (document.getElementById('like_' + id).value>0)
								{
									document.getElementById('like_' + id).value--;
								}
								
			
								console.log('отправлено минус');
								
							},
							error: function () {
			
								console.log('Failed минус ');
							}
						})
			
					}
			
				}
						
			</script>
			

