{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  {% load static %}
  {% if users %}
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      {% for a in users %}
        <div class="col-md-auto">
          <div class="card" style="width: 15rem">
            {% if a.image %}
            <img src="{{ a.image.url }}" class="card-img-top" alt="..." />
            {% else %} 
            <img src="{% static "load/users/no-photo.jpg" %}" class="card-img-top" alt="..." />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{a.status}}</h5>
              <p class="card-text">{{ a.first_name }} {{ a.last_name}}</p>
              <h5 class="card-title">Телефон</h5>
              {% if a.tel %}
              <p class="card-text">{{a.tel}}</p>
              {% else %}
              <p class="card-text">-</p>
              {% endif %}

              <h5 class="card-title">Почта</h5>
              {% if a.email %}
              <p class="card-text">{{a.email}}</p>
              {% else %}
              <p class="card-text">-</p>
              {% endif %}
              <a type="button" class="btn btn-secondary" href="/mailPost/{{a.slug}}" value="adm">Написать</a>
             
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
  {% else %}
  <h1>Здесь пока пусто.</h1>
    {% endif %}
  {% endblock content %}
  {% if data.name %}
  <script type="text/javascript" charset="utf-8">
  alert("Спасибо- {{data.name}} -ваше письмо отправлено!");  
  </script>
{% endif %}




