{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<section id="banner">
<header class="majorline">
    <h2>Федерация Пауэрлифтинга Рязани и Рязанской области (РФП)</h2>
    <p>
        Вас приветствует Региональная физкультурно-спортивная общественная организация «Рязанская федерация пауэрлифтинга» (РФСОО «РФП»), подразделение ФПР в Рязанской области.

        Наша деятельность направлена на развитие и популяризацию в г. Рязани и Рязанской области пaуэрлифтинга и его дисциплин
    </p>
 
</header>
</section>

{{content}}


{% endblock content %}