
{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
{% load static %}
<section id="banner">
<header class="majorline">
    <h2>Федерация Пауэрлифтинга Рязани и Рязанской области (РФП)</h2>
    <p>
        Вас приветствует Региональная физкультурно-спортивная общественная организация «Рязанская федерация пауэрлифтинга» (РФСОО «РФП»), подразделение ФПР в Рязанской области.

        Наша деятельность направлена на развитие и популяризацию в г. Рязани и Рязанской области пaуэрлифтинга и его дисциплин
    </p>
 
</header>
</section>
<div class="container ">
  <div class="row">
    <div class="col">


      


{% for i in page %}

    <div class="card" >
      <img src="{{i.img_Head.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          {% autoescape off %}
          {% if i.headline %}
          {{i.headline}}
          {% else %}
          <div class="view_count" id="{{i.id}}" >{{i.title}}</div>
         
          {% endif %}
          {% endautoescape %}
        </h5>
        <div class="content_block hide">
        <p class="card-text">
          {% autoescape off %}
          {% if i.bodyline %}
          {{i.bodyline}}
          {% else %}
          {{i.content}}
          {% endif %}
          {% endautoescape %}
        </p>
        
      </div>
      {% if  i.content|length > 200 %}
      <a class="content_toggle" href="#">Подробнее</a>
      {% endif %}


    </div>
    
    <div class="datecounter row">
      <div class="col card-text"><small class="text-muted">{{i.date}}</small></div>
      <div class="col card-text"><small class="text-muted"><img onclick="LikeFunc(id)" src="{% static "/images/false.svg" %}" title="Лайки" class="imgLike" id={{i.id}}><input disabled value={{i.like}} id="like_{{i.id}}"></small></div>
      <div class="col card-text"><small class="text-muted"><img src="{% static "/images/iconCounter.svg" %}" title="Просмотры" class="imgCount"></small>{{i.count_view}}</div>
    </div>
   
    </div>
  
    <br>
{% endfor %}
  
  
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item {% if not page.has_previous %}disabled{% endif %}" >
        <a class="page-link" href="{% if page.has_previous %}?page={{page.previous_page_number}}"{% else %}
        #
        {% endif %}">Назад</a></li>
        
        {% for p in  page.paginator.page_range %}
        {% if p >= page.number|add:-2 and p <= page.number|add:2 %}
        <li class="page-item {% if page.number == p %}active{% endif %}">
          <a class="page-link" href="?page={{p}}&q={{query}}">{{p}}</a>
        </li>
        {% endif %}
        {% endfor %}

        <li class="page-item {% if not page.has_next %}disabled{% endif %}" >
          <a class="page-link" href="{% if page.has_next %}?page={{page.next_page_number}}"{% else %}
          #
          {% endif %}">Вперед</a></li>

      </ul>
  </nav>
  <br>
 

    </div>
  </div>
</div>


{% endblock content %}






