{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
{% load static %}
<div class="document">
 
      {% for a  in  doc %}
      <div class="card" style="width: 12rem">
          <img src="{% static "/images/main.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{a.title}}</p>
            <a href="#" class="btn btn-outline-secondary">Смотреть</a>
            
          </div>
        </div>
      {% endfor %}
    
</div>





{% endblock content %}